$cambridge_blue: #9BC1BC;

$cadet_blue: #5CA4A9;
$light_cadet_blue: lighten($cadet_blue, 35%);

$platinum: #E6EBE0;

$terra_cotta: #ED6A5A;
$light_terra_cotta: lighten($terra_cotta, 10%);
$dark_terra_cotta: darken($terra_cotta, 10%);

$blonde: #F4F1BB;
