@import './styles/colors';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  min-height: 100vh;
  background-color: $platinum;
}

* {
  color: #222;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hidden {
  display: none;
}

input, button {
  outline: none;
  cursor: pointer;
}
